# Ignore everything
*

# But NOT these folders and files (must also un-ignore the parent path!)
!glad/
!glm/
!Shaders/
!Textures/
!Elements/
!Fonts/
!Images/
!src/
!src/utils

# Allow specific file types (in any non-ignored directory)
!*.cpp
!*.c
!*.h
!*.hpp
!*.md
!*.fs
!*.vs
!*.png
!Makefile
!*.ttf

# Optional: Ignore build output
main
*.o
*.out